:root{
	--menu: #f3ef85;
	--background: #edebca;
	--primaryColor: #307a15;
	--hyperLink: #116304;
}

body{
	background: #edebca;
	color: #307a15!important;
}

.bg-green {
  background-color: #03856C !important;
}
.bg-menu-image{
	background-color: #f3ef85 !important;
}
.bg-menu{
	background-color: #d6d275 !important;
}
.nav-shadow{
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

a.nav-link{
	color: black!important;
	font-size: 1.2em;
	padding:   10px;
	border: 1px solid transparent;
	border-radius: 5px;
}
a.nav-link:hover{
	border-color: #307a15;
}

a.bg-green:hover,
a.bg-green:focus,
button.bg-green:hover,
button.bg-green:focus {
  background-color: #03856C !important;
}

.text-black{
	color: black;
}
.text-green{
	color: #307a15 ;
}

.about-story p{
	color: black;
	font-size: 1.1rem;
}

 .chairman{
 	background: #E2DFDF;
	padding: 10px;
	padding-left: 20px; 	
 }
  .chairman h3{
  	margin-bottom: 10px;
  }
 .chairman h3,
 .chairman h4,
 .chairman h5{
 	color: black;
 }

.front-notice ul li{
	list-style-type: square;
	line-height: 2;
}
.front-notice   li a{
	color: #212529;
}
.front-notice   li a:hover{
	color: #FDFDFD;
	text-decoration: underline;
}

.notice-board{
	 	background: #03856C;
}


.footer{
	background: transparent;
	background-image: url("../img/footer_top_bg.png");
	background-size: cover;
	border:none;
}

.small-text{
	font-size: .7em;
}

/*front-page css*/
.qoutes{
	border-left: 5px solid #03856C!important;
}
.blockquote.blockquote-secondary {
	border: none;
  border-left: 5px solid #03856C;
  color: black;
}


.card-horizontal {
	display: flex;
	flex: 1 1 auto;
}
.form-file{
	border-bottom: none;
	margin-bottom: 15px!important;
}
.box-shadow{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.20),0 3px 1px -2px rgba(0,0,0,0.32),0 1px 5px 0 rgba(0,0,0,0.62);
}
.district-container{
	padding: 0 100px;
}

/*dashboard sidebar*/
.sidebar{
	border-left: 4px solid #03856C;
}
a.sidebar-link{
	display: block;
	padding: 5px;
}